Flask==0.11.1
Flask-Script==2.0.5
Jinja2==2.8
Werkzeug==0.11.11
boto==2.43.0
clint==0.5.1
distribute
gunicorn==19.6.0
pyelasticsearch==1.4
requests==2.11.1
simplejson==3.10.0
six==1.10.0
wsgiref==0.1.2
